[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
rope = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
pyyaml = "*"
ruamel-yaml = "*"
requests = "*"

[requires]
python_version = "3.6"
